/*h1 {
    color: palevioletred;
    background-color:rgb(211, 97, 141);
    text-align: center;
  }
 
  
  #paragraph {
    text-align: center;
    color: rosybrown;
    background-image: url('./image/flower.jpg') ;
  }
  
  .list-item {
    background-color: rgb(148, 56, 56);
  }
  ol {
      color: salmon;
      background-color: snow;
      text-align: left;
      
  }