h1 {
    color: palevioletred;
    background-color: purple;
    text-align: center;
  }
 
  
  #paragraph {
    text-align: center;
    color: rosybrown;
    background-color: slateblue;
  }
  
  .list-item {
    background-color: rgb(148, 56, 56);
  }
  ol {
      color: salmon;
      background-color: snow;
      text-align: left;
      
  }